POSTGRES_USER="user"
POSTGRES_PASSWORD="sample-password"
POSTGRES_DB="syllable"
DB_HOST="db"    #This is because the docker compose service name is 'db'
NODE_ENV="development"
TOKEN_SECRET="abcdefghijklmnopqrstuvwxyz"
