* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #444;
}

form {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#courseCode {
    margin-left: 20%;
    margin-right: 20%;
}

fieldset {
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

#headerInfo {
    display: flex;
}

#professorInfo,
#classInfo {
    width: 100%;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input,
textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    padding: 20px;
}

li {
    margin-bottom: 10px;
}