h2 {
    text-align: center;
    color: var(--text-color)
}

.form {
    background-color: var(--secondary-bg);
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--text-color-light);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.courseCode {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.courseCode input {
    width: 75%;
}

fieldset {
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    border: 1px solid var(--accent-color);
}

.headerInfo {
    display: flex;
}

.professorInfo,
.classInfo {
    width: 100%;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input,
textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--accent-color);
    color: var(--text-color-light);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-bg);
    color: var(--text-color-dark);
}

ul {
    padding: 20px;
}

li {
    margin-bottom: 10px;
}