.custom-header {
    background-color: rgb(36, 64, 42);
    text-align: center;
    color: white;
    height: 100px;
}

.custom-header h2 {
    font-style: bold;
    margin-top: 15px;
}

.image {
   width: 50px;
   position: absolute;
   left: 15px;
   margin-top: 7px;
}

.custom-header .account {
    position: absolute;
    right: 15px;
    top:35px;
}