.custom-header {
    background-color: rgb(36, 64, 42);
    text-align: center;
    color: white;
    height: 100px;
}

.custom-header h2 {
    font-family: 'Raleway', Times, serif;

    font-style: bold;
}

.image {
   width: 50px;
   position: absolute;
   left: 15px;
}